.backDiv {
  background: url('../../images/darkbg.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #343a40;
}

.menuDiv {
  position: absolute;
  background: rgba(206, 212, 218, .5);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  border-style: solid;
  border-color: #212529;
  border-width: 1.5px;
}

.loginDiv {
  width: 500px;
  height: 325px;
  margin-top: -162.5px;
  margin-left: -250px;
}

.createDiv {
  width: 800px;
  height: 820px;
  margin-top: -410px;
  margin-left: -400px;
}

.divItem {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.createDivItem {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.formButtonStyle {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.formRowItem {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.formRowDiv {
  display: flex;
  justify-content: center;
}

.colSplit {
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 20px;
  margin-left: 20px;
}

.errMsg {
  margin-left: 20px;
  color: red;
}

.dropdownMenu {
  width: 208px;
  text-align: left;
}

.dropdownDiv {
  max-height: 400px;
  overflow-y:auto;
  border-radius: 5px;
}

.errDiv {
  width: 500px;
  height: 30px;
  text-align: center;
}

.newHereText {
  color: white;
  margin-right: 5px;
}

.formLink {
  color: blue;
}

.newAccountLinkDiv {
  display: inline-block;
}

.divButton {
  margin-top: 3px;
}

.createFormHead {
  text-align: center;
  margin-top: 20px;
}