.backDiv {
  background: url('darkbg.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #343a40;
}

.loginDiv {
  position: absolute;
  width: 500px;
  height: 270px;
  background: rgba(206, 212, 218, .5);
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -135px;
  border-radius: 5px;
  border-style: solid;
  border-color: #212529;
  border-width: 1.5px;
}

.formGroupStyle {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.formButtonStyle {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.failMessage {
  margin-left: 20px;
  color: red;
}