.Task-Tabs-Div {
  font-family: sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin-top:10%
}

.react-tabs {
  display: flex;
  margin: auto;
  width: max-content;
  height: max-content;
  border: 1px solid #3c3e43;
  
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0;
  padding: 0;
  color: white;
  background: #3c3e43;  
}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
  /* transform: rotate(-90deg); */
}

.react-tabs__tab--selected {
  background: #1c1d1f;
  border-color: #1c1d1f;
  border-left: 4px solid #6eb800;
  color: white;
  
}

.react-tabs__tab-panel {
  display: none;
  width: 400px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.taskLine{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.task-header-div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

