.table-wrapper {
  display: flex;
  justify-content: center;
}

.Task-Tabs-Div {
  border-radius: 10px;
  width: 80%;
  height: 600px;
  background-color: rgba(206, 212, 218, .5);
  display: flex; 
  justify-content: center;
  padding: 40px;
  margin-bottom: 5%;
  margin-top:5%;
  contain:strict;
}

.p-bar-center {
  display: flex;
  justify-content: center;
}

.p-bar {
  margin-bottom: 10px;
  height: 20px !important;
  border-radius: 10px !important;
  width: 40%;
}

.table-container {
  margin-top: 20px;
}

.react-tabs { 
  display: flex;
  width: 100%;
  overflow: hidden;
  border: none !important;
}

.react-tabs__tab {
  height: 150px;
  list-style: none;
  cursor: pointer;
  color: #bbb;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 10px;
  padding-right: 10px;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  color: white;
  background: #3c3e43;  
  border-radius: 5px 0 0 5px;
}

.react-tabs__tab--selected {
  background: #1c1d1f;
  border-color: #1c1d1f;
  border-left: 4px solid green;
  border-radius: 5px 0 0 5px;
  color: white;
  padding-left: 21px;
}

.react-tabs__tab-panel {
  display: none;
  width: 100%;
  overflow-y: auto;
  border: none !important;
}

.react-tabs__tab-panel::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

.react-tabs__tab-panel::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 1vh;
}

.react-tabs__tab-panel--selected {
  display: block;
  border: none !important;
}

.taskLine{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

th {
  border: none !important;
}

tr {
  text-align: right;
  border: none !important;
}

tbody tr:hover {
  background-color: rgba(77, 77, 77, 0.5);
}

td {
  cursor: pointer;
  border-bottom: solid black 1px !important;
  border-right: none !important;
  border-left: none !important;
  border-top: solid black 1px !important;
}

.task-header-div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel-content {
  width: 100%
}

.taskTable-div {
  width: 100%;
}

