.logo-h {
  width: 95px;
}

.logo-h:hover {
  cursor: pointer;
}

.icon {
  position: relative;
  top: -1.5px;
  margin-right: 8px;
  
}
.linkTextDiv {
  padding: 5px;
}

.icon-style {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
}

.icon-style:hover {
  background-color: transparent !important;
  /* color: rgb(196, 196, 196); */
}

.manage-icon {
  padding-left: 6px !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  color: #bbbbbb !important;
}

.manage-list {
  margin-left: -180px !important;
  margin-top: -30px !important;
}

.bi-list {
  margin-top: -3px;
}

.notification-badge {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  margin-left: 15%;
  margin-top: -7px;
}

.dropdown-toggle::after {
  display: none !important; 
}

.linkTextDiv:hover {
  color: rgb(196, 196, 196);

}
.brandLink:hover {
  cursor: pointer;
}

.dropdownIcon {
  position: relative;
  top: 11px;
  margin-right: -4px;
}

.borderSpan {
  background-color: rgb(66, 165, 211);
  height: 5px;
}

.borderSpan1 {
  background-color: rgb(66, 165, 211);
  height: 3px;
}
.borderSpan2 {
  background-color: whitesmoke;
  height: 3px;
}