.navLinkText {
  color: white;
}

.navLinkText:hover {
  color: rgb(196, 196, 196);
}

.icon {
  position: relative;
  top: -1.5px;
  margin-right: 8px;
  
}
.linkTextDiv {
  padding: 5px;
}
.brandLink:hover {
  cursor: pointer;
}