.dark-theme {
  background: url('./images/darkbg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #343a40 !important;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.light-theme {
  background: url('./images/lightbg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #dddddd!important;
  color: black;
}