.dark-theme {
  background: url('./images/darkbg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #343a40 !important;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.light-theme {
  background-image: 
    linear-gradient(to bottom, transparent, grey),
    url('./images/lightbg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eeeeee !important;
  color: black;
}

.theme-button{
  margin-top: 3px;
  margin-left: 5px
}